<p>admin works!</p>
<!--<button   type="button" class="btn btn-info " routerLink="/getAdminList">Get Admins</button> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/getAdminList" routerLinkActive="active" class="nav-link">GetAdminList</a> <br>
      </li>
    </ul>
  
    <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/main-page" routerLinkActive="active" class="nav-link">HomePage</a>
        </li>
      </ul>
