.navbar {
    width: 100%;
    background-color: rgb(235, 117, 8);
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(235, 176, 110);
  }

  .footer{
    position:relative;
    bottom: 25px 50%;
    width: 100%;
    height: 70%;
    background-color: rgb(8, 8, 8);
    text-align: center;
    color: white;
}