
<!--<button   type="button" class="btn btn-info " routerLink="/getAdminList">Get Admins</button> -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/getDoctorList" routerLinkActive="active" class="nav-link">GetDoctorList</a> <br>
      </li>
    </ul>
  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/create-doctor" routerLinkActive="active" class="nav-link">CreateDoctor </a> <br>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/add-availability" routerLinkActive="active" class="nav-link">AddDoctorAvailability </a> <br>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/main-page" routerLinkActive="active" class="nav-link">HomePage</a>
        </li>
      </ul>
</nav>
